@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway]
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

/* custom css for the project card */
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image:linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  )!important;
}

.gradient1 {
  background: rgb(238,174,202);
  background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.gradient2 {
  background: rgb(238,174,202);
  background: linear-gradient(180deg, rgba(148,187,233,1) 0%, rgba(193,148,233,1) 100%);
}

.gradient3 {
  background: rgb(193,148,233);
  background: linear-gradient(180deg, rgba(193,148,233,1) 0%, rgba(148,187,233,1) 100%);
}

.gradient4 {
  background: rgb(151,233,148);
  background: linear-gradient(180deg, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
}
